
<h1>Available Babysitting Dates</h1>

{{#each requests as |request|}}
<div class="text-center card">
  <h2>{{request.title}}</h2>
  {{!-- <p id="request-id">{{request.id}}</p> --}}
  <p>{{request.comment}}</p>
  <p>Created by {{parent.names}}</p>
  <p>{{request.date}}</p>
  <p>
    {{!-- <button data-id="{{request.id}}" class="btn btn-primary">Accept this request</button> --}}
    <input name="{{parent.email}}" id="{{request.id}}" class="btn btn-primary" type="button" value="Accept this Request">
  </p>
</div>
{{/each}}

{{!-- <script type="module" src="nodemailer.js"></script> --}}
 <script src="./js/requests.js"></script>

 
