
<h1>Available Babysitting Dates</h1>

{{#each requests as |request|}}
<div class="text-center card">
  <h2>{{request.title}}</h2>
  <p>{{request.comment}}</p>
  <p>Created by {{parent.names}}</p>
  <p>{{request.date}}</p>
  <p>
    {{#if request.accepted}}
    <p>This request has already been accepted</p>
    {{else}}
    <input name="{{parent.email}}" id="{{request.id}}" class="btn btn-primary" type="button" value="Accept this Request">
    {{/if}}
  </p>
</div>
{{/each}}


 <script src="./js/requests.js"></script>

 
